# User-specific files
*.user
*.sln
*.csproj
*.pidb
*.suo
*.userprefs

# Idea directories 
.idea/

# Build directories
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Mm]emoryCaptures/

# Asset Store tools
[Aa]ssets/AssetStoreTools*

# Logs
[Ll]ogs/

# Visual Studio files
.vs/
